// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Make all elements inherit from `html` box-sizing
 */
* {
    box-sizing: border-box;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    & :before {
        box-sizing: border-box;
    }

    & :after {
        box-sizing: border-box;
    }
}

/**
 * Set up a decent box model on the root element
 */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;

    opacity: 1;
    visibility: visible;
    transition: all 1s ease-out;
    -webkit-tap-highlight-color: transparent;


    // Temp for a propos in header
    @include respond(tablet) {
        overflow: scroll;
    }
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

button {
    outline: none;
}

a {
    color: $color;
    text-decoration: none;

    & :hover {
        color: inherit;
        cursor: hand;
        outline: none;
    }
    & :active {
        color: inherit;
        outline: none;
    }
    & :focus {
        color: inherit;
        outline: none;
    }
}

