$tooltip: 550px;

// TOOLTIP
.container--inscription-informations-tooltip {
    background-color: $bg;
    border-left: 1px solid $color;
    height: 100vh;
    transform: translateX(-50px);
    outline: none;
    -webkit-tap-highlight-color: transparent;
    pointer-events: auto;
    position: fixed;
    right: -#{$tooltip};
    top: 0;
    transition: all 0.75s ease-in-out;
    width: $tooltip;
    z-index: 95;
    display: flex;

    @include respond(tablet) {
        width: 100%;
        right: -100%;
    }

    @include respond(mobile) {
        transform: translateX(-20px);
    }

    &.is-open {
        transform: translateX(-#{$tooltip});

        @include respond(tablet) {
            transform: translateX(-100%);
        }

        .content--left-close {
            opacity: 1;
        }

    }
}

.container--tooltip-cover {
    border-right: 1px solid $color;
    cursor: pointer;
    min-width: 50px !important;

    @include respond(mobile) {
        min-width: 20px !important;
    }
}

.inscription-tooltip-cover {
    position: absolute;
    top: 30px;
    left: 9.6px;

    @include respond(mobile) {
        font-size: $small;
        left: 0.5px;
    }
}

.inscription-tooltip-texte {
    padding:  50px 50px 50px 50px;
    position: relative;
    overflow: auto; // for scrolling into the tooltips list
    z-index: 1;

    @include respond(tablet) {
        padding: 25px;
    }

    h2 {
        margin: 50px 0 12.5px;

        &:first-child {
            margin-top: 0;
        }
    }

    width: 100%;
}

.inscription-tooltip-close {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10000;
}
