#form--inscription-informations {
    #acf-range-metier-type {
        margin-bottom: 0 !important;
    }

    #ne-travaille-pas {
        padding: 0 12px;

        li {
            text-align: center;
            label {
                font-family: $covik, sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: $h4 !important;
                // justify-content: center;
                line-height: $h4 !important;
                position: relative;

                @include respond(md) {
                    font-size: $h5 !important;
                    line-height: $h5 !important;
                }

                @include respond(tablet) {
                    font-size: $h5 !important;
                    line-height: $h5 !important;
                }


                &:before {
                    background-repeat: no-repeat;
                    background-position: center;
                    content:'';
                    height: 50px;
                    margin: auto;
                    width: 80px;
                }

                input {

                    height: 15px;
                    width: 15px;

                    &:focus {
                        outline: none;
                    }

                    &:after {
                        background-color: $bg;
                        border: 1px solid $color;
                        border-radius: 50%;
                        content: '';
                        display: inline-block;
                        height: 15px;
                        position: relative;
                        visibility: visible;
                        width: 15px;

                        margin: 0 0 3px 0px;
                    }

                    &:checked:after {
                        background-color: $color;
                        border: 2px solid $color;
                        border-radius: 50%;
                        content: '';
                        display: inline-block;
                        height: 15px;
                        position: relative;
                        visibility: visible;
                        width: 15px;

                    }

                }

                .custom--input {
                    position: absolute;
                    margin: 0 !important;
                    left: 0;
                    top: 6px;
                }
            }

        }
    }
}
