#form--inscription-informations {
    #acf-range-metier-type {
        margin-bottom: 0 !important;
    }

    #ne-travaille-pas {
        padding: 0 12px;

        li {
            text-align: center;

            label {
                align-items: center;
                display: flex;
                justify-content: center;
                font-family: $covik, sans-serif;
                font-weight: 400;
                font-style: normal;

                @include respond(tablet) {
                    font-size: $h5 !important;
                    line-height: $h5 !important;
                }
            }
        }


        // INPUT
        #acf-field_61304403387ec-ne-travaille-pas {
            -webkit-appearance: none;
            appearance: none;
            background-color: #fff;
            margin: 0;
            font: inherit;
            color: currentColor;
            width: 20px;
            height: 20px;
            border: 1px solid $color;
            border-radius: 50%;
            margin: 0 10px 0 0;

            display: grid;
            place-content: center;

            &:before {
                content: "";
                width: 20px;
                height: 20px;
                border-radius: 50%;
                transform: scale(0);
                transition: 0.025s all ease-in-out;
                box-shadow: inset 1em 1em $color;
            }

            &:checked {
                &:before {
                    transform: scale(1);
                }
            }
        }
    }
}
