// -----------------------------------------------------------------------------
// CONTAINER CENTRAL
// -----------------------------------------------------------------------------
.content--creation-reve {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    transition: all 0.75s ease-in-out;
    z-index: 2;
    margin: 50px;
    width: calc( 100vw - 100px);

    .profil--header {
        order: 1;
    }

    #message {
        order: 3;
    }

    #form--creation-reve {
        order: 2;
    }
}
// -----------------------------------------------------------------------------
// FORMULAIRE
// -----------------------------------------------------------------------------
#form--creation-reve {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s linear;
    margin: 100px 0 0 0;
    width: 75%;

    &.is-loaded {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .acf-label {
        position: relative;
        margin: 0;
        text-align: center;

        label {
            font-size: $h2;
            font-family: $covik, sans-serif;
            font-weight: 400 !important;
            font-style: normal !important;
            line-height: $h2;
            text-align: center;

            @include respond(tablet) {
                font-size: $h5 !important;
                line-height: 1.4;
            }

            .acf-required {
                display: none;
            }
        }
    }

    .acf-input {
        margin: auto;
        width: 60%;
    }

    .acf-field {
        border-top: none;
    }
}


// -----------------------------------------------------------------------------
// Input Texte - Titre & Date
// -----------------------------------------------------------------------------
@import 'pages/creation-reve/titre-date';

// -----------------------------------------------------------------------------
// Contenu
// -----------------------------------------------------------------------------
@import 'pages/creation-reve/contenu';
@import 'pages/creation-reve/dessin';

// -----------------------------------------------------------------------------
// Typologie de rêve
// -----------------------------------------------------------------------------
@import 'pages/creation-reve/typologie';

// -----------------------------------------------------------------------------
// Tag
// -----------------------------------------------------------------------------
@import 'pages/creation-reve/tag';

// -----------------------------------------------------------------------------
// Niveau de lucidité
// -----------------------------------------------------------------------------
@import 'pages/creation-reve/lucidite';
#reve--lucidite{
    &.acf-field-60ec18ce6f71f {
        margin: auto !important;
        width: 90%;

        .acf-label {
            margin: 0 0 calc( #{$ratio} *  0.5 ) 0 !important;
        }
    }
}
// -----------------------------------------------------------------------------
// Modalité du sommeil
// -----------------------------------------------------------------------------
@import 'pages/creation-reve/modalite-sommeil';

// -----------------------------------------------------------------------------
// Humeur
// -----------------------------------------------------------------------------
@import 'pages/creation-reve/modalite-humeur';

// -----------------------------------------------------------------------------
// Sens
// -----------------------------------------------------------------------------
@import 'pages/creation-reve/modalite-sens';

// -----------------------------------------------------------------------------
// Lieu
// -----------------------------------------------------------------------------
@import 'pages/creation-reve/modalite-lieu';

// -----------------------------------------------------------------------------
// Modalité du sommeil - Quand où comment
// -----------------------------------------------------------------------------
@import 'pages/creation-reve/modalite-du-sommeil';

// Message d'update du formulaire

.single-reve,
.page-template-page-creation-reve {
    overflow: auto;
}
.page-template-page-creation-reve {

    #masthead {
        justify-content: center;
    }

    #header--mobile-apropos,
    #mobile--connexion {
        @include respond(tablet) {
            display: none;
        }
    }

    input {
        // cursor: pointer;

    }
    .acf-checkbox-list {
        label {
            @include respond(tablet) {
                font-size: $small;
            }
            // &:hover {
            //     background-color: $color;
            //     color: $bg;
            // }
        }
    }
    #page {
        .content--home {
            @include respond(tablet) {
                height: 100% !important;
                overflow: auto;
            }
        }
    }

}
#page {

    .content--creation-reve {
        #message {
            align-items: center;
            color: $cauchemar;
            display: flex;
            font-size: $h4;
            justify-content: center;
            line-height: $h4;
            margin: 10px auto calc(#{$ratio} * 3) auto;
            text-transform: uppercase;
            width: 37%;

            &:before {
                content: 'H';
                font-family: $good;
                font-size: $h1;
                margin: 0 10px 0 0 ;
            }
        }
    }
}
