.single-reveur_info {
    overflow: auto;
    .acf-input {
        width: 100%;

        @include respond(tablet) {
            width: 100%;
        }
    }
}

.reveur_info-template-default {
    #masthead {
        justify-content: center;
    }

    #header--mobile-apropos,
    #mobile--connexion {
        @include respond(tablet) {
            display: none;
        }
    }

    .acf-form-submit {
        margin-top: 0;
    }

    #page {
        .content--home {
            @include respond(tablet) {
                height: 100% !important;
                overflow: auto;
            }
        }
    }
}
