// Contenu
.acf-field-contenu {
    margin: 0 !important;
}

// Contenu dessin
#contenu--dessin {
    display: none;
}

// Selection du contenu
.contenu--buttons {
    display: flex;
    justify-content: center;
    margin: calc( #{$ratio} *  0.5 ) 0 0 0 !important;

    .button--rounded {
        margin: 0 4px;
    }

    .contenu--button-dessin,
    .contenu--button-texte  {
        pointer-events: auto;

        &.is-active {
            pointer-events: none;
        }
    }

    @include respond(tablet) {
        h4 {
            font-size: $h5;
        }
    }
}
// Contenu
.acf-field-610161fcb8f44,
.acf-field-6101620bb8f45 {
    // visibility: hidden;
    opacity: 0.1;
    transition: opacity $rythm0 ease-in-out;
}

.textearea--visible {
    // visibility: visible;
    opacity: 1;
    pointer-events: auto!important;
}

// texte
.acf-field-610161fcb8f44 {
    pointer-events: none;
    cursor: pointer;

    &.as-drawing {
        margin: 0 !important;
        padding-bottom: 0 !important;
    }

    .acf-label {
        display: none;
    }

    .acf-input {
        align-items: flex-start;
        border: 2px solid $color;
        display: flex;
        padding: 15px;

        &:before {
            background-image: url('../../assets/images/contenu_texte.svg');
            background-position: center;
            background-repeat: no-repeat;
            content: '';
            height: 22px;
            margin-top: 4px;
            transform: scale(0.6);
            width: 20px;
        }

        // textearea
        #acf-field_610161fcb8f44 {
            border: none;
            box-shadow: none !important;
            font-size: $h4;
            font-family: $covik, sans-serif;
            font-weight: 400;
            font-style: normal;
            outline:0px !important;
            padding: 0 0 0 10px;
            -webkit-appearance:none;

            @include respond(tablet) {
                font-size: $h5;
            }

            &:hover {
                outline:0px !important;
                -webkit-appearance:none;
                box-shadow: none !important;
            }
        }
    }
}

// Dessin
.acf-field-6101620bb8f45 {
    .acf-label {
        display: none;
    }

    .acf-input {
        align-items: flex-start;
        border: 2px solid $color;
        display: flex;

        &:before {
            background-image: url('../../assets/images/contenu_dessin.svg');
            background-position: center;
            background-repeat: no-repeat;
            content: '';
            height: 22px;
            left: 15px;
            position: absolute;
            top: 15px;
            transform: scale(0.6);
            width: 20px;
            z-index: 2;
        }

        // textearea
        #acf-field_6101620bb8f45 {
            border: none;
            box-shadow: none !important;
            font-size: $h4;
            font-family: $covik, sans-serif;
            font-weight: 400;
            font-style: normal;
            outline:0px !important;
            padding: 0 0 0 10px;
            -webkit-appearance:none;

            display: none;

            &:hover {
                outline:0px !important;
                -webkit-appearance:none;
                box-shadow: none !important;
            }
        }
    }
}
.acf-field-dessin {
    .image-container {
        margin: auto;
        position: relative;
        width: 60%;

        &:after {
            background-image: url('../../assets/images/contenu_dessin.svg');
            background-position: center;
            background-repeat: no-repeat;
            content: '';
            height: 22px;
            left: 15px;
            position: absolute;
            top: 15px;
            transform: scale(0.6);
            width: 20px;
            z-index: 2;
        }

        img {
            border: 2px solid $color;
            width: 100%;
        }
    }
}

.dessin-close {
    cursor: pointer;
    opacity: 1;
    pointer-events: auto;
    padding: $ratio calc( #{$ratio} / 2 ) calc( #{$ratio} / 2 );
    position: fixed !important;
    right: 0;
    top: 0;
    z-index: 10000 !important;

    @include respond(tablet) {
        padding: 40px calc( 40px / 2) calc( 30px / 2);
    }

    svg {
        display: none;

        path {
            fill: $color;
        }

        @include respond(tablet) {
            display: block;
        }
    }

    img {

        @include respond(tablet) {
            display: none;
        }

    }
}


.contenu--button-dessin-edit {
    width: max-content;
    margin: calc( #{$ratio} / 2  ) auto;

    &:hover {
        background-color: $color;
        color: $bg;
    }
}
