.page-template-page-back-office {

    #page {
        overflow: auto;
        background: #fff;
        display: flex;
        position: absolute;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
    }
}

.page-template-page-profil {

    #masthead {
        border-bottom: none;

        #header--mobile-apropos {
            display: none;
        }

        #mobile--connexion {
            display: none;
        }
    }
}

.content--backoffice {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px auto;
    padding-top: 0 !important;
    position: absolute !important;
    height: 100vh;
    width: 60% !important;
    left: 50%;
    transform: translateX( -50% );

    @include respond(tablet) {
        justify-content: flex-start;
        width: 90% !important;
    }
}

.profil--header {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    .profil--header-links {
        align-items: center;
        display: flex;
        margin: 0 0 calc( #{$ratio} / 1 ) 0;

        a {
            &:nth-of-type(2) {
                margin: 0 $ratio2;
            }
        }

        @include respond(tablet) {
            flex-direction: column;
            margin: 0;

            a {
                margin: 0 0 $ratio2 0;

                &:nth-of-type(2) {
                    margin: 0 0 $ratio2 0;
                }
            }
        }
    }

    & > * {
        text-transform: uppercase;
    }

    // Nom de l'utilisateur
    h1 {
        margin: calc( #{$ratio} * 1 ) 0 calc( #{$ratio} * 2 ) 0;
        text-align: center;

        @include respond(tablet) {
            width: min-content;
        }
    }

    // Modifier le profil
    h3 {
        width: max-content;

        @include respond(tablet) {
            font-size: $small;
        }

        &:hover {
            background-color: $color;
            border-color: $bg;
            color: $bg;
        }
    }
}

.profil--no-reve {
    align-items: center;
    display: flex;
    flex-direction: column;

    a {
        color: $color;
        text-decoration: underline;
    }
}

// Container des différents rêves
.profil--reve {
    display: flex;
    flex-direction: column;
    width: 100%;

    & > * {
        margin: 0 0 $ratio 0;

        &:nth-of-type(1) {
            margin: calc( #{$ratio} * 2 ) 0;
            cursor: pointer;
            height: 200px;


            @include respond(tablet) {
                margin: 0 auto !important;
                padding: 10px 20px;
            }

            a {
                display: flex;
            }
        }
    }

    .profil--reve-new {
        display: grid;
        place-items: center;


        &.profil--reve-new-inactive {
            display: none;
        }

        a {
            align-items: center;
            color: $color;
            text-decoration: none;
            display: flex;
            padding: 20px 40px;

            span {
                font-family: $good;
                font-size: $h2;
                line-height: $h2;
                margin: 0 0 0 10px;
            }
        }

        h2 {
            border: 1px solid $color;
            border-radius: 100px;
            width: max-content;
            height: max-content;

            &:hover {
                background-color: $color;
                color: $bg;

                a {
                    color: inherit;
                }
            }

            @include respond(tablet) {
                font-size: $h5;
            }
        }
    }

    .profil--reve-published {
        border: none;
        position: relative;

        &.status-pending {
            article {
                opacity: 0.2;
                pointer-events: none;
            }
        }

        &.status-publish {
            article {
                opacity: 1;
                visibility: visible;
            }
        }

        .message--status-pending {
            background-color: $bg;
            border: 1px solid $color;
            padding: $ratio;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate( -50%, -50% );
            width: max-content;

            &.is-hidden {
                display: none;
            }
        }

        .article-reve--download {
            padding: 12px 0 0 0;

            a {
                padding: 0;
            }
        }
    }

    button.contenu--edit {

        img {
            transform: scale(0.8) rotate(0);
            transition: transform $rythm1 cubic-bezier(0.25, 1, 0.5, 1);
        }

        &:hover {
            img {
                transform: scale(1.1) rotate(10deg);
            }
        }
    }
}

.backoffice-reve {
    left: 0!important;
    margin: 0 auto !important;
    position: relative !important;
    top: 0!important;
    visibility: visible;
    width: 100% !important;

}
