// Opacité des fonds
$level: 0.7;
$level2: 0.2;
$roseC: rgba(214, 112, 131, $level2);
$rose: rgba(214, 112, 131, $level);
$roseF: rgba(214, 112, 131, 1);
$vertC: rgba(44, 175, 56, $level2);
$vert: rgba(44, 175, 56, $level);
$vertF: rgba(44, 175, 56, 1);

.post-type-reveur-info {
    // display: none;
}

.container--reve-to-download {
    // display: flex;
    display: none;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    width: 100%;
}

.reve--to-print {
    height: auto;
    margin: 0 0 20px 0;
    width: auto;
}


.table--print {
    display: none;
    background-color: $bg;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    tr {
        td {
            border: 1px solid $color;
            padding: 3px 2px;
            font-size: 15px;
        }

        // DONNES DU REVE & DONNES DU COMPTE
        &:nth-of-type(1) {
            td {
                font-weight: bold;

                &:nth-of-type(1) {
                    background-color: $roseF !important;
                }
                &:nth-of-type(2) {
                    background-color: $roseF !important;
                }
                &:nth-of-type(3) {
                    background-color: $vertF !important;
                }
                &:nth-of-type(4) {
                    background-color: $vertF !important;
                }
            }
        }

        &:nth-of-type(2) {
            td {
                &:nth-of-type(3) {
                    background-color: $vert;
                }
                &:nth-of-type(4) {
                    background-color: $vertC;
                    text-align: center;
                }
            }
        }

        &:nth-of-type(3) {
            td {
                &:nth-of-type(3) {
                    background-color: $vert;
                }
                &:nth-of-type(4) {
                    background-color: $vertC;
                }
            }
        }
        &:nth-of-type(4) {
            td {
                &:nth-of-type(3) {
                    background-color: $vert;
                    text-align: center;
                }
            }
        }
        &:nth-of-type(7) {
            td {
                &:nth-of-type(1) {
                    text-align: center!important;
                }
                &:nth-of-type(2) {
                    text-align: center!important;
                }
                &:nth-of-type(3) {
                    background-color: $vertC !important;
                    text-align: right!important;
                    font-style: italic;
                }
                &:nth-of-type(4) {
                    background-color: $vertC;
                    text-align: center;
                }
            }
        }
        &:nth-of-type(8) {
            td {
                &:nth-of-type(3) {
                    background-color: $vertC !important;
                }
            }
        }
        &:nth-of-type(9) {
            td {
                &:nth-of-type(3) {
                    background-color: $vert !important;
                }
                &:nth-of-type(4) {
                    background-color: $vertC !important;
                }
            }
        }
        &:nth-of-type(10) {
            td {
                &:nth-of-type(3) {
                    background-color: $vert !important;
                }
                &:nth-of-type(4) {
                    background-color: $vertC !important;
                }
            }
        }

        // MILIEUX
        &:nth-of-type(11) {
            td {
                &:nth-of-type(1) {
                    background-color: $rose;
                    text-align: center;
                }
                &:nth-of-type(2) {
                    background-color: $vert !important;
                    text-align: center!important;
                }
            }
        }

        &:nth-of-type(14) {
            td {
                &:nth-of-type(3) {
                    background-color: $vert;
                    text-align: center!important;
                }
            }
        }

        &:nth-of-type(18),
        &:nth-of-type(25),
        &:nth-of-type(29),
        &:nth-of-type(32),
        &:nth-of-type(35) {
            td {
                background-color: $vert;
                text-align: center!important;
            }
        }

        &:nth-of-type(12),
        &:nth-of-type(13) {
            td {
                &:nth-of-type(3) {
                    background-color: $vertC;
                    text-align: right!important;
                    font-style: italic;
                }
                &:nth-of-type(4) {
                    background-color: $vertC;
                    text-align: center;
                }
            }
        }

        &:nth-of-type(15) {
            td {
                &:nth-of-type(2) {
                    background-color: $vertC;
                    text-align: right!important;
                    font-style: italic;
                }
                &:nth-of-type(3) {
                    background-color: $vertC;
                    text-align: center;
                }
            }
        }

        &:nth-of-type(16),
        &:nth-of-type(17),
        &:nth-of-type(19),
        &:nth-of-type(20),
        &:nth-of-type(21),
        &:nth-of-type(22) {
            td {
                &:nth-of-type(1) {
                    background-color: $vertC;
                    text-align: right!important;
                    font-style: italic;
                }
                &:nth-of-type(2) {
                    background-color: $vertC;
                    text-align: center;
                }
            }
        }

        &:nth-of-type(23) {
            td {
                &:nth-of-type(2) {
                    background-color: $vertC;
                    text-align: right!important;
                    font-style: italic;
                }
                &:nth-of-type(3) {
                    background-color: $vertC;
                    text-align: center;
                }
            }
        }
        &:nth-of-type(24),
        &:nth-of-type(26),
        &:nth-of-type(27),
        &:nth-of-type(28),
        &:nth-of-type(30),
        &:nth-of-type(31),
        &:nth-of-type(33),
        &:nth-of-type(34),
        &:nth-of-type(36),
        &:nth-of-type(37) {
            td {
                &:nth-of-type(1) {
                    background-color: $vertC;
                    text-align: right!important;
                    font-style: italic;
                }
                &:nth-of-type(2) {
                    background-color: $vertC;
                    text-align: center;
                }
            }
        }
    }
}


.table--print tr:nth-of-type(7) td:nth-of-type(2) {

}

// COLONNE 1 - 2 -> 7
@for $i from 2 through 7 {
    .table--print {
        tr:nth-of-type(#{$i}) {
            td {
                &:nth-of-type(1) {
                    background-color: $rose;
                }
            }
        }
    }
}

// COLONNE 1 - MODALITE DU SOMMEIL
@for $i from 8 through 10 {
    .table--print {
        tr:nth-of-type(#{$i}) {
            td {
                &:nth-of-type(1) {
                    background-color: $roseC;
                    font-style: italic;
                    text-align: right;
                }
            }
        }
    }
}

// COLONNE 1 - SOUVENIR DU REVE
@for $i from 12 through 14 {
    .table--print {
        tr:nth-of-type(#{$i}) {
            td {
                &:nth-of-type(1) {
                    background-color: $roseC;
                    font-style: italic;
                    text-align: right;
                }
            }
        }
    }
}

// COLONNE 2 - 1 -> 14
@for $i from 1 through 14 {
    .table--print {
        tr:nth-of-type(#{$i}) {
            td {
                &:nth-of-type(2) {
                    background-color: $roseC;
                    text-align: center;
                }
            }
        }
    }
}

// COLONNE 2 - 5 -> 7
@for $i from 5 through 6 {
    .table--print {
        tr:nth-of-type(#{$i}) {
            td {
                &:nth-of-type(3) {
                    background-color: $vertC;
                    text-align: right;
                    font-style: italic;
                }
                &:nth-of-type(4) {
                    background-color: $vertC;
                    text-align: center;
                }
            }
        }
    }
}



.container--reve-to-download {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    margin: 10vw 0 0 10vw;
    width: 75vw;
}



.container--print-popup {
    border: 2px solid $color;
    background-color: $bg;
    display: none;
    position: absolute;
    pointer-events: none;
    top: 30%;
    left: 50%;
    transform: translate( -50%, -30% );
    height: 75vh;
    width: 75vw;

    &.is-selected {
        display: flex;
        pointer-events: auto;
    }

    .print-popup-close {
        cursor: pointer;
        position: absolute;
        top: 25px;
        right: 25px;
    }
}


// test-print
.test-print-button {
    background-color: $bg;
    border: 1px solid $color;
    position: fixed;
    bottom: 50px;
    padding: 3px;
    left: 50px;
}
.test-merge-button {
    background-color: $bg;
    border: 1px solid $color;
    position: fixed;
    bottom: 85px;
    padding: 3px;
    left: 50px;
}



// NEW TABLES

.table--print-reve {
    // display: none;
    border: 1px solid $color;
    width: 100%;
    text-align: center;
    border-collapse: collapse;

    th {
        border:1px solid $color;
        padding:5px;
        color: $color;
    }
    td {
        text-align:center;
        color: $color;
        border: 1px solid $color;
        padding: 3px 2px;
        font-size: 15px;
        width: 50%;
    }
}

.table--print-author {
    border: 1px solid $color;
    width: 100%;
    text-align: center;
    border-collapse: collapse;

    th {
        border:1px solid $color;
        padding:5px;
        color: $color;
    }
    td {
        text-align:center;
        color: $color;
        border: 1px solid $color;
        padding: 3px 2px;
        font-size: 15px;
        width: 25%;
    }
}




.article-reve {
    // display: none;
}

.container--reve-to-download {
    // display: none;

    &.clicked {
        display: block;
    }
}

.download-reve {
    position: absolute;
    bottom: 50px;
    left: 85px;
    border: 1px solid $color;
    padding: 10px 20px;

    &:hover {
        background-color: $color;
        color: $bg;
    }
}

#start {
    background-color: rgb(76, 165, 142);
    font-size: $h5 !important;
    padding: 10px !important;
    width: calc( 65vw / 2 - 20px );
}

#start-dessin {
    background: none;
    background-position: center;
    background-size: 100px 100px;
    // background-color: $lucide;
    position: relative;
}

// PDF VIEWER
.container--pdf-viewer {
    display: none;
    background-color: $premonitoire;
    position: fixed;
    width: calc(100vw - 100px);
    height: calc(100vh - 165px);
    top: 47%;
    left: 50%;
    transform: translate( -50%, -50% );

    place-items: center;

    &.open {
        display: grid;
    }

    embed {
        height: 100%;
        position: relative;
        width: 100%;
    }

    button {
        background-color: $commun;
        font-size: 25px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 2;
    }
}
// DEBUG - selection-reves.js line39
// .container--reve-to-download {
//     &.is-selected {
//         display: grid !important;
//         place-items: center;
//         margin: 0;
//         width: 100vw;
//
//
//         // .selected--table {
//             .table--print {
//                 display: table;
//                 width: 65vw;
//             }
//         // }
//     }
// }
