// -----------------------------------------------------------------------------
// CONTAINER CENTRAL
// -----------------------------------------------------------------------------

#masthead {
    align-items: center;
    background-color: $bg;;
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 0 calc( #{$ratio} / 2 );
    position: relative;
    opacity: 1;
    transition: all 0.325s 2s ease-out;
    width: 100%;
    z-index: 92;

    // HOME PAGE
    &.header-home {
        border-bottom: 1px solid $color;
    }

    // ALL OTHER PAGES
    &.site-back-office {
        border-bottom: none;
        justify-content: center;
    }

    // HOME HEADER
    &.is-header-faded {
        background-color: $color;

        #mobile--connexion {
            background-color: $bg;
            border: 1px solid $color;

            a {
                color: $color;
            }
        }
    }

    @include respond(tablet) {
        border-bottom: 1px solid $color;
        height: 50px;
        justify-content: space-between;
        left: 0;
        padding: 0 6px;
        position: relative;
        width: 100%;
        z-index: 3;
    }
}

// COMMON
.site-branding {
    text-align: center;
    @include respond(tablet) {
        position: absolute;
        left: 50%;
        transform: translateX( -50% );
    }

    a {
        display: block;
    }

    svg {
        width: 210px !important;

        @include respond(tablet) {
            width: 140px !important;
        }
    }
}

// Bouton connexion mobile
#mobile--connexion {
    display: none;

    a {
        color: $color;
    }

    @include respond(tablet) {
        display: block;
    }
}

// Bouton a propos mobile
#header--mobile-apropos{
    display: none;

    &.is-faded {
        background-color: $bg;
        border: 1px solid $bg;
    }

    @include respond(tablet) {
        display: block;
    }
}

.site-header-user {
    display: flex;

    @include respond(tablet) {
        display: none;
    }
}


.header--user,
#left--connexion {
    margin-right: calc( #{$ratio} / 2 );
}

#left--connexion,
#left--inscription {
    // opacity: 1;
    pointer-events: auto;

    @include respond(tablet) {
        display: none;
    }

    a,p {
        color: $color;

    }

    &:hover {
        background-color: $color;

        a,p {
            color: $bg;
        }
    }
}

.header-empty {
    background-color: $bg;
    display: flex;
    justify-content: flex-end;
    height: auto;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s linear;
    width: auto;

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }

    @include respond(tablet) {
        display: none;
    }

    .back-reve {
        text-transform: uppercase;
        width: max-content;

        &:hover {
            background-color: $color;
            color: $bg;
        }
    }
}
.container--header {
    align-items: center;
    // background-color: $bg;
    display: flex;
    height: 49px;
    justify-content: space-between;
    padding: 0 15px;
    // margin: 10px 0 0 0;
    width: 100%;
    z-index:2;
    position: fixed;
    top: 0;
    left: 0;


    & > * {
        flex: 1;

        @include respond(tablet) {
            flex: initial;
        }
    }
}

.right--container-propos-header {
    display: none;

    &.is-active {
        top: 32px;
        transform: translateY(0);

        .propos--section {
            margin: 10vh auto;
            opacity: 1;

            h1 {
                @include respond(tablet) {
                    font-size: $h5 !important;
                    line-height: 1.4;
                }
            }
        }

        .propos-links {
            h1 {
                @include respond(tablet) {
                    text-align: center;
                    font-size: $h2;
                    line-height: $h2;
                }
            }
        }

        .propos--section-collapse {
            .propos--collapse-header {
                .propos--collapse-title {
                    @include respond(tablet) {
                        font-size: $h5 !important;
                        line-height: 1.4;
                    }
                }

            }
        }



    }

    @include respond(tablet) {
        background-color: $color;
        display: flex;
        flex-direction: column;
        height: auto;
        left: 0;
        margin: auto;
        opacity: 1 !important;
        overflow: scroll;
        position: absolute !important;
        top: 0;
        transform: translateY(-100%);
        transition: transform 2s ease-in-out !important;
        width: 100%;
        z-index: 2 !important;
    }
}
