.debug {
    border-top: 1px solid #0000;
    background-color: #fff;
    overflow: scroll;
    position: absolute;
    z-index: 1000000000000000000000000000;
    width: 100vw;
    margin-top: 100px;
    height: 100%;
}
